*, *::after, *::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

main, section,
div,
nav, span, ul, li, a h1,
h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
  display: block;
}

ul {
  list-style-type: none;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.wraphead {
  width: 90%;
  margin: 0 auto;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.wraphead.fixed-top-top {
  width: 90%;
}

header {
  position: fixed;
  width: 100%;
  background-color: #161625;
  padding: 10px 10px;
  height: 50px;
  z-index: 1;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

header::after {
  content: "";
  display: block;
  clear: both;
}

#brand {
  color: #ccc;
  position: absolute;
  top: 15px;
  left: 25px;
}
#brand h3 {
  display: inline-block;
}

nav {
  margin-top: -10px;
  height: 50px;
  padding: 10px;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav li {
  display: inline-block;
  padding: 10px;
}

nav li a {
  padding: 10px 0;
  text-decoration: none;
  color: #e1e1e1;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

nav li a:hover {
  color: #bbb;
}

#menu {
  position: absolute;
  top: 8px;
  right: 20px;
  border-radius: 10px;
  display: none;
}
#menu .menu {
  border-radius: 10px;
  padding: 10px;
  outline: none;
  cursor: pointer;
  color: white;
  border: none;
}

section {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 0;
}

section {
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

/*TOGGLE COLORS*/
.dark {
  background-color: #161625;
  color: #efefef;
}

/*SWITCH*/
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 20px;
  -ms-flex-item-align: center;
      align-self: center;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0px;
  bottom: 0px;
  background-color: #39f002;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input::checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider {
  border-radius: 24px;
}

.slider:before {
  border-radius: 50%;
}

#home {
  position: relative;
}
#home .banner {
  overflow: hidden;
  max-width: 1300px;
  height: 600px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#home .text-banner {
  padding: 10px;
  width: 400px;
  border-radius: 10px;
  -webkit-animation: moveleft 2s 1 normal forwards;
          animation: moveleft 2s 1 normal forwards;
}
#home .text-banner h1 {
  font-size: 50px;
}
#home .text-banner p {
  margin-top: 10px;
}
#home .text-banner .read-more {
  margin-top: 10px;
  padding: 20px;
  width: 250px;
  display: inline-block;
  text-align: center;
  border-radius: 20px;
  background: red;
  -webkit-box-shadow: 0px 5px 10px 0px #d63838, 0px 8px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 5px 10px 0px #d63838, 0px 8px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
#home .text-banner .read-more a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
#home .text-banner .read-more:active {
  top: 3px;
  background-color: #ff0202;
  -webkit-box-shadow: 0px 0px 10px 0px #ff0202, 0px 5px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px 0px #ff0202, 0px 5px 3px rgba(0, 0, 0, 0.2);
}
#home .image-banner {
  position: relative;
  width: 870px;
  border-radius: 10px;
  -webkit-animation: moveright 2s 1 normal forwards;
          animation: moveright 2s 1 normal forwards;
}
#home .image-banner #slider img {
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  font-size: 14px;
  border-radius: 10px;
}
#home .image-banner .slider-btns {
  position: absolute;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
#home .image-banner .slider-btns .pre, #home .image-banner .slider-btns .next i {
  padding: 5px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

@-webkit-keyframes moveleft {
  from {
    -webkit-transform: translateX(-350px);
            transform: translateX(-350px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes moveleft {
  from {
    -webkit-transform: translateX(-350px);
            transform: translateX(-350px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@-webkit-keyframes moveright {
  from {
    -webkit-transform: translateX(350px);
            transform: translateX(350px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@keyframes moveright {
  from {
    -webkit-transform: translateX(350px);
            transform: translateX(350px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
#home::before {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  clear: both;
}

.item {
  background-color: red;
  border-radius: 10px;
}

#projects .wrapper {
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 10px;
  height: 400px;
}
#projects .wrapper .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#projects .wrapper .title h1 {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: initial;
}
#projects .wrapper .rows {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 20px;
}
#projects .wrapper .rows .colums .zoom-images {
  position: relative;
  display: block;
  width: 100%;
  height: 200px;
  background-color: red;
  overflow: hidden;
}
#projects .wrapper .rows .colums .zoom-images img {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
#projects .wrapper .rows .colums .zoom-images img:hover {
  -webkit-transform: scale(2);
          transform: scale(2);
}
#projects .wrapper .rows .colums .card-text {
  margin-top: 5px;
  display: block;
  text-align: center;
}
#projects .wrapper .rows .colums .card-text h1 {
  font-weight: initial;
  font-size: 25px;
}
#projects .wrapper .rows .colums .card-text p {
  line-height: 2;
  letter-spacing: 0.9px;
}

#contact {
  display: block;
}
#contact .form {
  max-width: 700px;
  margin: 0 auto;
  -webkit-transform: translateY(5rem);
          transform: translateY(5rem);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#contact .form .wrapper {
  padding: 10px;
}
#contact .form .wrapper input, #contact .form .wrapper textarea {
  display: block;
  padding: 10px;
  margin: 10px 0;
  outline: none;
  font-size: 15px;
  border-radius: 10px;
  width: 600px;
  width: 100%;
  border: none;
  border-bottom: 1px solid red;
}
#contact .form .wrapper textarea {
  resize: none;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  border-bottom: 1px solid red;
}
#contact .form .form-footer {
  padding: 10px;
}
#contact .form .form-footer .submit {
  padding: 10px;
  width: 150px;
  display: inline-block;
  text-align: center;
  border-radius: 20px;
  background: red;
  -webkit-box-shadow: 0px 5px 10px 0px #d63838, 0px 8px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 5px 10px 0px #d63838, 0px 8px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
#contact .form .form-footer .submit:active {
  background-color: #ff0202;
  -webkit-box-shadow: 0px 0px 10px 0px #ff0202, 0px 5px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px 0px #ff0202, 0px 5px 3px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 1280px) {
  #home {
    padding: 80px;
    width: 100%;
    height: 100%;
  }
  #home .banner {
    margin-top: 30px;
    height: auto;
    grid-template-columns: repeat(1, 1fr);
  }
  #home .text-banner {
    height: 100%;
    width: 100%;
    padding: 10px;
    text-align: center;
  }
  #home .text-banner h1 {
    font-size: 40px;
  }
  #home .text-banner p {
    margin-bottom: 10px;
  }
  #home .text-banner .read-more {
    margin-bottom: 10px;
  }
  #home .image-banner {
    width: 800px;
    height: 500px;
    padding: 10px;
    margin-top: 10px;
  }
  #home .image-banner img {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 970px) {
  .active-item {
    background-color: transparent;
  }

  #home {
    padding: 50px;
  }
  #home .banner {
    width: 700px;
  }
  #home .banner .image-banner {
    width: 100%;
  }
  #home .banner .read-more {
    padding: 10px;
    width: 200px;
  }
  #home .banner .read-more a {
    font-size: 18px;
  }

  #menu {
    display: block;
  }

  nav #dark-btn {
    position: static;
  }
  nav ul {
    position: fixed;
    top: 0px;
    right: 0;
    width: 0px;
    height: 100vh;
    padding: 0;
    margin: 0;
    margin-top: 50px;
    background-color: #161625;
    overflow: hidden;
    z-index: 1;
  }
  nav ul li {
    display: block;
    text-align: center;
  }

  #projects {
    height: auto;
    width: 100%;
    padding: 20px;
  }
  #projects .wrapper {
    border-radius: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    width: 100%;
    height: auto;
  }
  #projects .wrapper .title {
    margin-top: 5px;
    display: block;
    text-align: center;
  }
  #projects .wrapper .title h1 {
    font-weight: initial;
    font-size: 30px;
  }
  #projects .wrapper .rows {
    grid-template-columns: repeat(2, 1fr);
  }

  .active {
    width: 250px;
  }
}
@media (max-width: 670px) {
  #home {
    padding: 20px;
  }
  #home .banner {
    width: 800px;
  }
  #home .banner .image-banner {
    width: 100%;
  }
  #home .banner .read-more {
    width: 150px;
  }
  #home .banner .read-more a {
    font-size: 12px;
  }

  #projects {
    height: auto;
    width: 100%;
  }
  #projects .wrapper {
    width: 100%;
    height: auto;
  }
  #projects .wrapper .rows {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 550px) {
  #home {
    padding: 10px;
    display: block;
  }
  #home .banner {
    display: block;
    width: 100%;
  }
  #home .banner .image-banner {
    height: 300px;
    width: auto;
  }
  #home .banner .image-banner img {
    width: 100%;
    height: 100%;
  }
  #home .banner .text-banner {
    display: block;
    width: 100%;
    height: 100%;
  }
  #home .banner .text-banner h1 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 290px) {
  #home .banner .read-more {
    width: 100px;
    padding: 5px;
  }
  #home .banner .read-more a {
    text-align: center;
    font-size: 10px;
  }
}
/*# sourceMappingURL=style.css.map */