*, *::after, *::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

#nav {
  position: fixed;
  top: 0;
  padding: 10px;
  z-index: 1000;
  width: 100%;
  background-color: #0a080c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: all ease-out 0.5s;
  transition: all ease-out 0.5s;
}
#nav ul {
  list-style-type: none;
  padding: 0 50px;
}
#nav ul li {
  display: inline-block;
  padding: 10px 15px;
}
#nav ul li a {
  text-decoration: none;
  font-size: 18px;
  color: red;
  font-weight: bold;
}

.logo {
  position: absolute;
  top: 18px;
  left: 30px;
  width: 100px;
  border-radius: 20px;
}

.logo img {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  -webkit-transition: 1s;
  transition: 1s;
  z-index: 999;
}

.logo:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.open-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #0a080c;
  padding: 10px 15px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  visibility: hidden;
}

#nav.activeHeader {
  background: white;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

a#links.activeLinks {
  color: black;
}

a#links.activeLinks1 {
  color: white;
}

.menuActive {
  background-color: white;
  color: black;
  font-weight: bold;
}

.sectionA {
  background-color: #0a080c;
  padding: 20px;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sectionA .banner {
  margin: 0 auto;
  max-width: 1000px;
  padding: 20px;
}
.sectionA .banner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.sectionA .banner-image {
  padding: 10px;
  max-width: 400px;
  height: 400px;
  -webkit-animation: animateRight 1s ease;
          animation: animateRight 1s ease;
}
.sectionA .banner-image img {
  width: 100%;
  border-radius: 10px;
}
.sectionA .banner-title {
  padding: 10px;
  max-width: 400px;
  height: 400px;
  -webkit-animation: animateLeft 1s ease;
          animation: animateLeft 1s ease;
}
.sectionA .banner-title h1 {
  width: 100%;
  font-size: 50px;
  color: white;
  text-align: center;
}
.sectionA .banner-title p {
  color: white;
  font-size: 18px;
  line-height: 2;
}

@-webkit-keyframes animateRight {
  from {
    opacity: 0.2;
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes animateRight {
  from {
    opacity: 0.2;
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes animateLeft {
  from {
    opacity: 0.2;
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes animateLeft {
  from {
    opacity: 0.2;
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.sectionB {
  height: 100vh;
}

@media only screen and (max-width: 786px) {
  .open-close {
    visibility: visible;
  }

  #nav {
    padding: 0;
    height: 60px;
  }
  #nav ul {
    width: 100%;
    height: 250px;
    padding: 0;
    margin: 0;
    margin-top: 50px;
    background-color: #070707;
    z-index: 10;
    display: none;
  }
  #nav ul li {
    display: block;
    text-align: center;
    margin: 10px;
  }
  #nav .active {
    display: block;
  }

  .sectionA .banner-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .sectionA .banner-wrapper .banner-title {
    height: auto;
  }
  .sectionA .banner-wrapper .banner-title h1 {
    font-size: 30px;
    padding: 30px;
  }
  .sectionA .banner-wrapper .banner-image {
    height: auto;
  }
}
/*# sourceMappingURL=style.css.map */